<label class="{{#if field.required}}required {{/if}}{{ field.name }} {{ field.widget.input_type }}" for="{{ field.name }}">
    <p class="label-text">{{ field.label }}</p>

    <div class="input-container">
        {{# each field.widget.choices}}
            <select class="input-select{{#if field.required}} required{{/if}}" id="{{this.title}}" name="{{ this.title }}" title="{{ this.title }}">
                {{#each this.data}}
                    <option value="{{ this.key }}">{{ this.value }}</option>
                {{/each}}
            </select>
        {{/each}}

        <div class="error-container">
            {{#if field.errors}}
                <ul class="error">
                    {{#each field.errors}}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    {{#if field.help_text}}
        <p class="help">{{ field.help_text }}</p>
    {{/if}}
</label>
