<label class="{{#if field.required}}required {{/if}}{{ field.name }} {{ field.widget.input_type }}" for="{{ field.name }}">
    <div class="input-container">
        <input class="input-checkbox{{#if field.required}} required{{/if}}" type="checkbox" id="{{field.name}}" name="{{ field.name }}" />

        <p class="label-text">{{ field.label }}</p>

        <div class="error-container">
            {{#if field.errors}}
                <ul class="error">
                    {{#each field.errors}}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    {{#if field.help_text}}
        <p class="help">{{ field.help_text }}</p>
    {{/if}}
</label>
