<label class="{{#if field.required}}required {{/if}}{{ field.name }} {{ field.widget.input_type }}" for="{{ field.name }}">
    <p class="label-text">{{ label_text }}</p>

    <div class="input-container">
        <textarea class="input-textarea{{#if field.required}} required{{/if}}" id="{{field.name}}" name="{{ field.name }}"></textarea>

        <div class="error-container">
            {{#if field.errors}}
                <ul class="error">
                    {{#each field.errors}}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    {{#if this.help_text}}
        <p class="help">{{ this.help_text }}</p>
    {{/if}}
</label>
