<label class="{{#if field.required}}required {{/if}}{{ field.name }} {{ field.widget.input_type }}" for="{{ field.name }}">
    <p class="label-text">{{ field.label }}</p>

    <div class="input-container">
        <input class="input-text{{#if field.required}} required{{/if}}" type="{{# if field.widget.is_hidden}}hidden{{else}}text{{/if}}" id="{{field.name}}" name="{{ field.name }}" {{# if field.max_length}}maxlength={{field.max_length}}{{/if}} />

        <div class="error-container">
            {{#if field.errors}}
                <ul class="error">
                    {{#each field.errors}}
                        <li>{{ this }}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    {{#if field.help_text}}
        <p class="help">{{ field.help_text }}</p>
    {{/if}}
</label>
