<h3>
    <a href="#/apps/{{ model_data.app.label }}/">{{ model_data.app.title }}</a> - <a href="#/apps/{{ model_data.app_label }}/models/{{ model_data.name }}/instances/">{{ model_data.title}}</a>
</h3>
<a href="#/apps/{{ model_data.app_label }}/models/{{ model_data.name }}/instances/add/" class="add_model">Add {{ model_data.title }}</a>
<div class="model_instance_form"></div>
