<h3><a href="#/apps/{{ model_data.app.label }}/">{{ model_data.app.title }}</a> - {{ model_data.title}}</h3>
<a href="#/apps/{{ model_data.app.label }}/models/{{ model_data.name }}/instances/add/" class="add_model">Add {{ model_data.title }}</a>
<div class="model_instances">
    <ul class="instance_header">
        {{# each model_data.header}}<li>{{ this }}</li>{{/each}}
    </ul>
    {{#each model_data.instances}}
        <ul class="instance_data">
            <li><a href="#/apps/{{ this.app_label }}/models/{{ this.name }}/instances/{{ this.id }}/edit/">{{ this.list_data.lead }}</a></li>
            {{#each this.list_data.rest}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
    {{/each}}
</div>
