<h3><a href="#/apps/{{ model_data.app.label }}/">{{ model_data.app.title }}</a> - {{ model_data.title}}</h3>
<a href="#/apps/{{ this.app_label }}/models/{{ this.name }}/instances/add/" class="add_model">Add {{ this.title }}</a>
<div class="model_instance_form"></div>
