<form class="{{form.name}}">
    <div class="messages-container"></div>

    {{# if form.title}}<h4>{{form.title}}</h4>{{/if}}

    <div class="non-field-error-container">
        {{#if form.errors}}
            <ul class="error">
                {{#each form.errors}}
                    <li>{{ this }}</li>
                {{/each}}
            </ul>
        {{/if}}
    </div>

    <div class="fieldsets">
    </div>

    {{# if form.buttons}}
        <div class="buttons-container">
            {{# each form.buttons}}
                <input class="button {{# if this.class}}{{this.class}}{{/if}}" {{# if this.name}}name="{{this.name}}"{{/if}} type="button" value="{{#if this.display_text}}{{this.display_text}}{{else}}Submit{{/if}}">
            {{/each}}
        </div>
    {{/if}}

    <div class="additional_content_container"></div>
</form>
